.content-menu {
    margin-top: 2rem;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    min-height: calc(100dvh - 4.5rem * 2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    &::before {
        content: "";
        position: absolute;
        background: radial-gradient(circle, #c715be 0%, #22037c 35%, rgba(34, 3, 124, 0.4) 55%, transparent 75%);
        z-index: -1;
        filter: blur(90px);
        -webkit-filter: blur(90px);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        animation: boxShadowAnimate 6s infinite;
        -webkit-animation: boxShadowAnimate 6s infinite;
    }
}

.btns-menu {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media(min-width: 768px) {
        flex-direction: row;
    }
}


.btn-menu {
    font-family: "Arimo", sans-serif;
    box-shadow:
        0 0 10px #8B5CF6,
        0 0 20px #6366F1,
        inset 0 0 20px rgba(139, 92, 246, .4);
    display: block;
    width: 100%;
    background-color: transparent;
    border: 3px solid transparent;
    color: #FFF;
    text-shadow:
        0 0 4px #FFF,
        0 0 8px #60a5fa,
        0 0 16px #3b82f6,
        0 0 30px #2563eb;
    font-weight: 600;
    padding: 1.5rem 2rem;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    position: relative;

    &:before {
        content: "";
        border: 1px solid transparent;
        position: absolute;
        top: 5px;
        left: 5px;
        width: calc(100% - 5px * 2);
        height: calc(100% - 5px * 2);
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        z-index: -1;
    }

    .img-content {
        margin-top: 30px;
        background-color: rgba(0, 0, 0, .25);
        height: 5rem;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        position: relative;

        img {
            width: 100%;
            height: 8rem;
            object-fit: contain;
            position: absolute;
            left: 50%;
            top: -40px;
            translate: -50% 0;
        }
    }

    .title-main-btn {
        margin-top: 0;
        margin-bottom: 0.250rem;
        font-size: 2rem;
    }

    .text-description-btn {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 1rem;
        line-height: 1;
    }

    &.btn-menu-primary {
        border-color: #6366F1;

        &::before {
            border-color: rgba(99, 102, 241, .5);
        }

        .img-content {
            border-color: rgba(99, 102, 241, .5);
            box-shadow: inset 0 -40px 40px 0 rgba(99, 102, 241, 0.25);

            img {
                filter: drop-shadow(0 10px 10px #6366F1);
                -webkit-filter: drop-shadow(0 10px 10px #6366F1);
                animation: imgFloatAnimate 6s 30s ease forwards;
                -webkit-animation: imgFloatAnimate 6s 30s ease forwards;
            }
        }

        .versus-text {
            color: #6366F1;
            text-shadow:
                0 0 4px #6366F1,
                0 0 8px #6366F1,
                0 0 16px #6366F1,
                0 0 30px #6366F1;
        }
    }

    &.btn-menu-secondary {
        border-color: #8B5CF6;

        &:before {
            border-color: rgba(139, 92, 246, .5);
        }

        .img-content {
            border-color: rgba(139, 92, 246, .5);
            box-shadow: inset 0 -40px 40px 0 rgba(139, 92, 246, 0.25);

            img {
                filter: drop-shadow(0 10px 10px #8B5CF6);
                -webkit-filter: drop-shadow(0 10px 10px #8B5CF6);
            }
        }

        .versus-text {
            color: #8B5CF6;
            text-shadow:
                0 0 4px #8B5CF6,
                0 0 8px #8B5CF6,
                0 0 16px #8B5CF6,
                0 0 30px #8B5CF6;
        }
    }
}


.btns-options {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
    align-items: center;

    .btn {
        justify-content: center;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        display: inline-flex;
        align-items: center;
        gap: 0.75rem;
        width: 85%;

        @media(min-width: 768px) {
            width: 50%;
        }

        .btn-icon {
            width: 32px;
            height: 32px;
            object-fit: contain;
        }

        &.btn-primary {
            .btn-icon {
                filter: drop-shadow(0 0 10px #6366F1);
                -webkit-filter: drop-shadow(0 0 10px #6366F1);
            }
        }

        &.btn-secondary {
            .btn-icon {
                filter: drop-shadow(0 0 10px #c715be);
                -webkit-filter: drop-shadow(0 0 10px #c715be);
            }
        }
    }
}



@keyframes boxShadowAnimate {
    0% {
        box-shadow: inset -20px -40px 90px 0 #22037c;
    }

    50% {
        box-shadow: inset -20px -40px 90px 0 rgba(255, 45, 149, 0.5);
    }

    100% {
        box-shadow: inset -20px -40px 90px 0 #22037c;
    }
}

@keyframes imgFloatAnimate {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        translate: -50% 0;
        opacity: 1;
    }

    50% {
        transform: scale(0.9);
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
        translate: -50% 20px;
        opacity: 0.9;
    }

    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        translate: -50% 0;
        opacity: 1;
    }
}