.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: #020617;
    /*background-color: #000;
    */
    /*background-image:        radial-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px);
    */
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .1) 0%, #000 100%), url('../../assets/img/fondo-mobile.png');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    color: #FFF;
    visibility: visible;
    opacity: 1;

    @media(min-width: 1200px) {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, .1) 0%, #000 100%), url('../../assets/img/fondo-desk.png');
    }

    &.hide {
        visibility: hidden;
        opacity: 0;
        transition: all 0.6s ease-out;
        -webkit-transition: all 0.6s ease-out;
        -moz-transition: all 0.6s ease-out;
        -ms-transition: all 0.6s ease-out;
        -o-transition: all 0.6s ease-out;
    }
}

.modalContent {
    padding: 1rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100dvh;
    font-size: 2.5rem;
    font-weight: 900;

    &::before {
        content: "";
        position: absolute;
        background: radial-gradient(circle, #c715be 0%, #22037c 35%, rgba(34, 3, 124, 0.4) 55%, transparent 75%);
        z-index: -1;
        filter: blur(90px);
        -webkit-filter: blur(90px);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.modalTextVersus {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playerX {
    width: 64px;
    height: 64px;
    object-fit: contain;
    filter: drop-shadow(0 0 10px #b2fd39);
    -webkit-filter: drop-shadow(0 0 10px #b2fd39);
}
.playerXOrange {
    width: 64px;
    height: 64px;
    object-fit: contain;
    filter: drop-shadow(0 0 10px #ffd65b);
    -webkit-filter: drop-shadow(0 0 10px #ffd65b);
}
.playerIA {
    width: 100px;
    height: 64px;
    object-fit: contain;
    filter: drop-shadow(0 0 10px #6366F1);
    -webkit-filter: drop-shadow(0 0 10px #6366F1);
}
.playerO {
    width: 100px;
    height: 64px;
    object-fit: contain;
    filter: drop-shadow(0 0 10px #00E5FF);
    -webkit-filter: drop-shadow(0 0 10px #00E5FF);
}

.versusText {
    font-size: 2.5rem;
    font-weight: 700;
    margin-left: 2.5rem;
    margin-right: 1.5rem;
    text-shadow:
        0 0 5px #a855f7,
        0 0 10px #a855f7,
        0 0 20px #9333ea,
        0 0 40px #7e22ce;
}

.modalContentReady {
    margin-top: 2rem;
}

.modalTextReady {
    line-height: 1;
    text-shadow:
        0 0 4px #FFF,
        0 0 8px #60a5fa,
        0 0 16px #3b82f6,
        0 0 30px #2563eb;
}

.modalCount {
    span {
        width: 100%;
        display: block;
        visibility: hidden;
        opacity: 0;
        text-shadow:
            0 0 5px #a855f7,
            0 0 10px #a855f7,
            0 0 20px #9333ea,
            0 0 40px #7e22ce;

        &:nth-child(1) {
            animation: countAnimate 1s 1s forwards;
            -webkit-animation: countAnimate 1s 1s forwards;
        }

        &:nth-child(2) {
            animation: countAnimate 1s 2s forwards;
            -webkit-animation: countAnimate 1s 2s forwards;
        }

        /* &:nth-child(3) {
            animation: countAnimate 1s 3s forwards;
            -webkit-animation: countAnimate 1s 3s forwards;
        } */
    }
}

.modalTextGame {
    background: linear-gradient(180deg, #FFF176, #ffd65b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 6px rgba(255, 214, 0, .1), 0 0 15px rgba(255, 193, 7, .9), 0 0 35px rgba(255, 179, 0, .1);
    visibility: hidden;
    opacity: 0;
    animation: countAnimate 1s 4s forwards;
    -webkit-animation: countAnimate 1s 4s forwards;
}

@keyframes countAnimate {
    from {
        visibility: hidden;
        opacity: 0;
    }

    to {
        visibility: visible;
        opacity: 1;
    }
}